In [1]:
#import library
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
from datetime import datetime
# plotly
import plotly 
plotly.offline.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import warnings
#sns.set(font_scale=1.5)
warnings.filterwarnings("ignore")

In [3]:
deliveries = pd.read_csv('deliveries_updated_mens_ipl.csv')

In [4]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   matchId           243817 non-null  int64
 1   inning            243817 non-null  int64
 2   over_ball         243817 non-null  float64
 3   over              243817 non-null  int64
 4   ball              243817 non-null  int64
 5   batting_team      243817 non-null  object
 6   bowling_team      243817 non-null  object
 7   batsman           243817 non-null  object
 8   non_striker       243817 non-null  object
 9   bowler            243817 non-null  object
 10  batsman_runs      243817 non-null  int64
 11  extras            243817 non-null  int64
 12  isWide            7652 non-null    float64
 13  isNoBall          1018 non-null    float64
 14  Byes              628 non-null     float64
 15  LegByes           3778 non-null    float64
 16  Penalty           2 non-null       float64
 17  dismissal_kind    12067 non-null   object
 18  player_dismissed  12067 non-null   object
 19  date              243817 non-null  object
dtypes: float64(6), int64(6), object(8)
memory usage: 37.2+ MB

In [5]:
deliveries.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18

In [6]:
deliveries.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty',
       'dismissal_kind', 'player_dismissed', 'date'],
      dtype='object')

In [10]:
# This user define function will give the type,count of null and non null values as well as null ratio
def playerinfo():
  temp=pd.DataFrame(index=deliveries.columns)
  temp["datatype"]=deliveries.dtypes
  temp["not null values"]=deliveries.count()
  temp["null value"]=deliveries.isnull().sum()
  temp["% of the null value"]=deliveries.isnull().mean()
  temp["unique count"]=deliveries.nunique()
  return temp
playerinfo()

,datatype,not null values,null value,% of the null value,unique count
matchId,int64,243817,0,0.000000,1024
inning,int64,243817,0,0.000000,6
over_ball,float64,243817,0,0.000000,182
over,int64,243817,0,0.000000,20
ball,int64,243817,0,0.000000,10
batting_team,object,243817,0,0.000000,18
bowling_team,object,243817,0,0.000000,18
batsman,object,243817,0,0.000000,637
non_striker,object,243817,0,0.000000,626
bowler,object,243817,0,0.000000,503
batsman_runs,int64,243817,0,0.000000,7
extras,int64,243817,0,0.000000,7
isWide,float64,7652,236165,0.968616,5
isNoBall,float64,1018,242799,0.995825,4
Byes,float64,628,243189,0.997424,4
LegByes,float64,3778,240039,0.984505,5
Penalty,float64,2,243815,0.999992,1
dismissal_kind,object,12067,231750,0.950508,10
player_dismissed,object,12067,231750,0.950508,602
date,object,243817,0,0.000000,762

In [12]:
deliveries['dismissal_kind'].value_counts()

dismissal_kind
caught                   7437
bowled                   2089
run out                  1062
lbw                       750
caught and bowled         349
stumped                   345
retired hurt               15
hit wicket                 15
retired out                 3
obstructing the field       2
Name: count, dtype: int64

In [15]:
def is_bowlers_wicket(player_dismissed,dismissal_kind):
    if type(player_dismissed)==str:
        if dismissal_kind not in ['run out','retired hurt','obstructing the field']:
            return 1
        else:
            return 0
    else:
        return 0

In [21]:
deliveries['isBowlersWkt'] = deliveries.apply(lambda x: is_bowlers_wicket(x['player_dismissed'], x['dismissal_kind']), axis=1)

In [24]:
deliveries.head()

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,...,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date,isBowlersWkt
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18,0
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0

In [26]:
deliveries['isBowlersWkt'].value_counts()

isBowlersWkt
0    232829
1     10988
Name: count, dtype: int64

In [28]:
#check if 0 is a not a bowlers wicket and 1 is a bowlers wicket
deliveries[deliveries.dismissal_kind =='run out'].head(10)

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,...,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date,isBowlersWkt
197,335982,2,11.1,11,1,Royal Challengers Bangalore,Kolkata Knight Riders,AA Noffke,P Kumar,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,run out,AA Noffke,2008-04-18,0
496,335984,1,3.5,3,5,Rajasthan Royals,Delhi Daredevils,YK Pathan,SR Watson,B Geeves,...,0,NaN,NaN,NaN,NaN,NaN,run out,YK Pathan,2008-04-19,0
511,335984,1,6.2,6,2,Rajasthan Royals,Delhi Daredevils,SR Watson,M Kaif,R Bhatia,...,0,NaN,NaN,NaN,NaN,NaN,run out,SR Watson,2008-04-19,0
727,335985,1,5.4,5,4,Mumbai Indians,Royal Challengers Bangalore,ST Jayasuriya,RV Uthappa,Z Khan,...,0,NaN,NaN,NaN,NaN,NaN,run out,ST Jayasuriya,2008-04-20,0
1055,335986,1,18.4,18,4,Deccan Chargers,Kolkata Knight Riders,RP Singh,PP Ojha,M Kartik,...,0,NaN,NaN,NaN,NaN,NaN,run out,PP Ojha,2008-04-20,0
1292,335987,1,18.6,18,6,Kings XI Punjab,Rajasthan Royals,S Sohal,PP Chawla,MM Patel,...,0,NaN,NaN,NaN,NaN,NaN,run out,S Sohal,2008-04-21,0
1516,335988,1,16.1,16,1,Deccan Chargers,Delhi Daredevils,SB Bangar,RG Sharma,R Bhatia,...,0,NaN,NaN,NaN,NaN,NaN,run out,SB Bangar,2008-04-22,0
1744,335989,1,18.7,18,7,Chennai Super Kings,Mumbai Indians,MS Dhoni,ML Hayden,A Nehra,...,0,NaN,NaN,NaN,NaN,NaN,run out,ML Hayden,2008-04-23,0
1758,335989,2,0.8,0,8,Mumbai Indians,Chennai Super Kings,ST Jayasuriya,L Ronchi,JDP Oram,...,0,NaN,NaN,NaN,NaN,NaN,run out,L Ronchi,2008-04-23,0
2119,335990,2,18.5,18,5,Rajasthan Royals,Deccan Chargers,SK Warne,D Salunkhe,RP Singh,...,0,NaN,NaN,NaN,NaN,NaN,run out,D Salunkhe,2008-04-24,0

In [29]:
deliveries[deliveries.dismissal_kind =='caught'].head(10)

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,...,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date,isBowlersWkt
33,335982,1,5.2,5,2,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,Z Khan,...,0,NaN,NaN,NaN,NaN,NaN,caught,SC Ganguly,2008-04-18,1
74,335982,1,12.1,12,1,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,BB McCullum,JH Kallis,...,0,NaN,NaN,NaN,NaN,NaN,caught,RT Ponting,2008-04-18,1
106,335982,1,17.1,17,1,Kolkata Knight Riders,Royal Challengers Bangalore,DJ Hussey,BB McCullum,AA Noffke,...,0,NaN,NaN,NaN,NaN,NaN,caught,DJ Hussey,2008-04-18,1
154,335982,2,4.5,4,5,Royal Challengers Bangalore,Kolkata Knight Riders,JH Kallis,W Jaffer,AB Agarkar,...,0,NaN,NaN,NaN,NaN,NaN,caught,JH Kallis,2008-04-18,1
157,335982,2,5.2,5,2,Royal Challengers Bangalore,Kolkata Knight Riders,W Jaffer,CL White,AB Dinda,...,0,NaN,NaN,NaN,NaN,NaN,caught,W Jaffer,2008-04-18,1
174,335982,2,7.5,7,5,Royal Challengers Bangalore,Kolkata Knight Riders,MV Boucher,CL White,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,caught,MV Boucher,2008-04-18,1
177,335982,2,8.2,8,2,Royal Challengers Bangalore,Kolkata Knight Riders,B Akhil,CL White,AB Agarkar,...,0,NaN,NaN,NaN,NaN,NaN,caught,B Akhil,2008-04-18,1
183,335982,2,8.8,8,8,Royal Challengers Bangalore,Kolkata Knight Riders,CL White,AA Noffke,AB Agarkar,...,0,NaN,NaN,NaN,NaN,NaN,caught,CL White,2008-04-18,1
224,335982,2,15.2,15,2,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,LR Shukla,...,0,NaN,NaN,NaN,NaN,NaN,caught,SB Joshi,2008-04-18,1
242,335983,1,2.5,2,5,Chennai Super Kings,Kings XI Punjab,PA Patel,ML Hayden,B Lee,...,0,NaN,NaN,NaN,NaN,NaN,caught,PA Patel,2008-04-19,1

In [35]:
deliveries.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty',
       'dismissal_kind', 'player_dismissed', 'date', 'isBowlersWkt', 'isDot',
       'isOne', 'isTwo', 'isThree', 'isFour', 'isSix'],
      dtype='object')

In [30]:
## Points to consider for a bowler = runs_conceeded, dots,eco,sixes/fours/, bowl_avg, bowl_sr,dot%

In [32]:
deliveries['isDot'] = deliveries['batsman_runs'].apply(lambda x: 1 if x == 0 else 0)
deliveries['isOne'] = deliveries['batsman_runs'].apply(lambda x: 1 if x == 1 else 0)
deliveries['isTwo'] = deliveries['batsman_runs'].apply(lambda x: 1 if x == 2 else 0)
deliveries['isThree'] = deliveries['batsman_runs'].apply(lambda x: 1 if x == 3 else 0)
deliveries['isFour'] = deliveries['batsman_runs'].apply(lambda x: 1 if x == 4 else 0)
delibveries['isSix'] = deliveries['batsman_runs'].apply(lambda x: 1 if x == 6 else 0)

In [33]:
deliveries.groupby(['bowler'])['batsman_runs'].sum()

bowler
A Ashish Reddy     386
A Badoni            11
A Chandila         242
A Choudhary        137
A Dananjaya         46
                  ...
Yash Dayal         444
Yash Thakur        273
Yudhvir Singh       64
Yuvraj Singh      1064
Z Khan            2691
Name: batsman_runs, Length: 503, dtype: int64